<html>
    <head>
        <title>Check yo Vibe.</title>

        <link rel="stylesheet" href="/styles.css">

        <meta name ="viewport" content ="width=device-width, inital-scale=1.0"/>

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
        
        <img src="/assests/logo.png" alt="logo" class="logo">
        -
        <a href="" class="signupbutton"> Sign up</a>
        <a href="loginPage.html" class="loginbutton"> login</a>
        -
    </head>
    <header>
        <nav>
            <div class="top-menu">
                </button>
                    <ul class="top-menu-links">
                        <li><a href="index.html">Home</a></li>
                        <li><a href="concept.html">Concept</a></li>
                        <li><a href="feedback.html">Feedback</a></li>
                    </ul> 
            
            </div>
        </nav>
    </header>
    <body>
        <h1 class="commingsoon-text">Coming soon</h1>
        
        <h4 class="heading-font">Making social media authentic again</h4>
        <p class="homepagetext">
         social media which makes you feel connected again      
        <br>
        <br>   
        <a href="concept.html" class="learn-more-button"> Learn more </a>
        </p>
        
    </body>

</html>